// contain global styles
body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, "メイリオ", "ＭＳ Ｐゴシック", Verdana, Geneva, Arial, Helvetica;
	word-wrap: break-word;
	word-break:break-all;
  background: color(grays, light);
}
