* { padding: 0; margin: 0; }
html, body, #fullheight {
  min-height: 100% !important;
  height: 100%;
}

body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, "メイリオ", "ＭＳ Ｐゴシック", Verdana, Geneva, Arial, Helvetica;
	word-wrap: break-word;
	word-break:break-all;
  background: color(grays, light);
}

a {
	cursor: pointer;
	color: color(primary);

	&:hover {
    color: color(primary-light);
		text-decoration: underline;
  }
}

.cool-input {
  border-radius: .25em;
  width: 100%;
	margin: .2em 0;
  padding: 0 .25em;
	box-sizing: border-box;
  font-size: 1rem;
  line-height: 2;
  border: 1px solid rgba(0, 0, 0, .15);
}

._cell {
	min-width: $cell-size;
	width: $cell-size;
	height: $cell-size;
	min-height: $cell-size;
	position: relative;
	box-sizing: border-box;
}

.cell-revealed {
	@extend ._cell;
	display: flex;
	justify-content: center;
	align-items: center;
	background: $cell-background-active-color;
	border: solid $cell-border-active-color;
	border-width: 0 1px 1px 0;
}

.cell {
	@extend ._cell;
	background: $cell-background-color;
	border: solid $cell-border-color;
	border-width: 0 1px 1px 0;

	overflow: hidden;
	cursor: pointer;
	pointer-events: none;

	&:after {
		content: '';
		position: absolute;
		left: 0; top: 0;
		width: 100%; height: 100%;
		box-sizing: border-box;
		background: $cell-background-color;
		border: 3px outset $cell-border-ouset-color;
		font-size: .75rem;
		text-align: center;
		pointer-events: auto;
	}

	&:active:after {
		background: $cell-background-active-color;
		border: solid $cell-border-active-color;
		border-width: 2px 0 0 2px;
	}
}
